.color-picker {
  height: 34px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: relative;
  padding: 5px;
  cursor: pointer;

  .color-picker-inner {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
  }

  .color-picker-picker {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 9999;
  }

}